.sidebar{
    /* background-color: aliceblue; */
    width: 15%;
    height: 100%;
    border-right: 1 solid;
    border-color: rgb(47, 51, 54);
    box-sizing: border-box;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.icon{
    font-size: 200%;
    border-bottom: 1 solid rgb(47, 51, 54);
    padding-left: 5%;
}

.icon:hover{
    color: #BB86FC;
    transition: ease-in-out 200ms;
}

.active{
    color:#BB86FC;
}

.links{
    margin-top: 5px;
    /* background-color: gray; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* padding: 30px; */
}

li{
    list-style: none;
}

.link{
    /* background-color: aqua; */
    /* margin: 10px; */
    border-radius: 32px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    justify-content: center;
    font-size: 18px;

}

.link:hover{
    background-color: rgba(47, 51, 54, 0.4);
    color: #BB86FC;
    transition:ease-in-out 200ms;
    
}

.link span{
    padding-left: 20px;
}

:link{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 1100px){
    .link span{
        display: none;
    }
    .icon{
        font-size: 150%;
    }
}


@media only screen and (min-width: 1100px){
    .link span{
        font-size: 14px;
    }
}

@media only screen and (min-width: 1313px){
    .link span{
        font-size: 16px;
    }
}